html {
  height: 100vh;
}

body {
    background-color: black;

}
#contenedor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	/*overflow: hidden;*/
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura del contenedor 100% del viewport */
}

/* Estilos para pantallas pequeñas (típico de móviles) */
@media only screen and (max-width: 768px) {
	#contenedor img {
  max-width: 180%; /* Ancho máximo de la imagen (personalízalo) */
  max-height: 180%; /* Altura máxima de la imagen (personalízalo) */
	
}
}

/* Estilos para pantallas medianas (típico de tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Estilos para pantallas grandes (escritorio) */
@media only screen and (min-width: 1024px) {
	#contenedor img {
  max-width: 85%; /* Ancho máximo de la imagen (personalízalo) */
  max-height: 85%; /* Altura máxima de la imagen (personalízalo) */
	
}

