body {Background – color : black;}
.contenedor {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /*min-height: 100vh;*/
    
}

img {
    /*max-width: 80%;*/  
    width: 80%;
    /* Ancho máximo de la imagen (puedes ajustarlo) 
    height: auto;     Altura automática para mantener la proporción */
    margin: 0 auto;   /* Elimina márgenes predeterminados para centrar mejor */
}
