.contenedor {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    /*min-height: 100vh;*/
    
}

img {
    /*max-width: 80%;*/  
    width: 80%;
    /* Ancho m치ximo de la imagen (puedes ajustarlo) 
    height: auto;     Altura autom치tica para mantener la proporci칩n */
    margin: 0 auto;   /* Elimina m치rgenes predeterminados para centrar mejor */
}
