body {
       animation: fadeInAnimation ease 5s;
       animation-iteration-count: 1;
       animation-fill-mode: forwards;
   }
   @keyframes fadeInAnimation {
       0% {
           opacity: 0;
       }
       100% {
           opacity: 1;
       }
   }
/* .container_logo{
  width: 30%;
} */
.container_logo i {
  position: absolute;
  background: #ffff;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  animation: animate linear infinite;
  z-index: 20
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }

}

  .container_logo .logo {
     z-index: -1;
  }
  .info{
    z-index: 100;
  }
.info2{
  z-index: 100;
}
  .container .info {
    cursor: pointer;
  }
  .container .circle {
    cursor: pointer;
  }

   @media only screen and (max-width: 300px) {
     .copyright{

       position:absolute;
       width:100%;
       bottom: 5%;
       left:50%;
       transform:translate(-50%,-50%);

     }
     .copyright .copyright_text {

       color: white;
       font-size: 2.5vmin;
       text-align: center;

     }
    .container_logo .logo {
        position: absolute;
        width:100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .container .info {
        position: absolute;
        width:9%;
        top:50%;
        left:50%;
        transform:translate(-50%,500%);
    }
    .container2 {
        position: absolute;
        width:80%;
        top:50%;
        left:53.5%;
        transform:translate(-50%,-50%);
    }
    .col-sm-2{
        width:20%;
        float: left;
        margin: 0 0%;
    }
    .social_image {
        width:65%;
        height:auto;
    }
    .container .circle {
      width: 15vw;
      height: 15vw;
      background-color: white;
      animation: pulse 2.5s infinite;
      border-radius: 50%;
      position: absolute;


      left:42.5vw;
      bottom:-56.5vw;

    }
    .container {
      background-color: red;
      position: absolute;
      width:100%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  @media only screen and (min-width: 300px) {
    .copyright{

      position:absolute;
      width:100%;
      bottom: 1%;
      left:50%;
      transform:translate(-50%,-50%);

    }
    .copyright .copyright_text {

      color: white;
      font-size: 2.5vmin;
      text-align: center;

    }
    .container_logo .logo {
        position: absolute;
        width:100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .container .info {
        position: absolute;
        width:9%;
        top:50%;
        left:50%;
        transform:translate(-50%,500%);
    }
    .container2 {
        position: absolute;
        width:90%;
        top:50%;
        left:55%;
        transform:translate(-50%,-50%);
    }
    .col-sm-2{
        width:20%;
        float: left;
        margin: 0 0%;
    }
    .social_image {
        width:55%;
        height:auto;
    }
    .container .circle {
      width: 16vw;
      height: 16vw;
      background-color: white;
      animation: pulse 2.5s infinite;
      border-radius: 50%;
      position: absolute;

      left:42%;
      bottom:-57vw;

    }
    .container {
      background-color: red;
      position: absolute;
      width:100%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  @media only screen and (min-width: 500px) {
    .copyright{

      position:absolute;
      width:100%;
      bottom: 0%;
      left:50%;
      transform:translate(-50%,-50%);

    }
    .copyright .copyright_text {

      color: white;
      font-size: 2vmin;
      text-align: center;

    }
    .container_logo .logo {
        position: absolute;
        width:100%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .container .info {
        position: absolute;
        width:9%;
        top:50%;
        left:50%;
        transform:translate(-50%,500%);
    }
    .container2 {
        position: absolute;
        width:80%;
        top:50%;
        left:53.5%;
        transform:translate(-50%,-50%);
    }
    .col-sm-2{
        width:20%;
        float: left;
        margin: 0 0;
    }
    .social_image {
        width:60%;
        height:auto;
    }
    .container .circle {
      width: 14vw;
      height: 14vw;
      background-color: white;
      animation: pulse 2.5s infinite;
      border-radius: 50%;
      position: absolute;

      left:43%;
      bottom:-56vw;

    }
    .container {
      background-color: red;
      position: absolute;
      width:100%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  @media only screen and (min-width: 600px) {
    .copyright{

      position:absolute;
      width:100%;
      bottom: 0%;
      left:50%;
      transform:translate(-50%,-50%);

    }
    .copyright .copyright_text {

      color: white;
      font-size: 1.5vmin;
      text-align: center;

    }
    .container_logo .logo {
        position: absolute;
        width:70%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .container .info {
        position: absolute;
        width:4%;
        top:50%;
        left:50%;
        transform:translate(-50%,620%);
    }
    .container2{
        position: absolute;
        width:60%;
        top:50%;
        left:52.5%;
        transform:translate(-50%,-50%);
    }
    .col-sm-2{
        width:20%;
        float: left;
        margin: 0 0;
    }
    .social_image {
        width:60%;
        height:auto;
    }
    .container .circle {
      width: 6vw;
      height: 6vw;
      background-color: white;
      animation: pulse 2.5s infinite;
      border-radius: 50%;
      position: absolute;

      left:47%;
      bottom:-29.5vw;

    }
    .container {
      background-color: red;
      position: absolute;
      width:100%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  @media only screen and (min-width: 1000px) {
    .copyright{

      position:absolute;
      width:100%;
      bottom: 0%;
      left:50%;
      transform:translate(-50%,-50%);

    }
    .copyright .copyright_text {

      color: white;
      font-size: 1.4vmin;
      text-align: center;

    }
    .container_logo .logo {
        position: absolute;
        width:50%;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    .container .info {
        position: absolute;
        width:3%;
        top:50%;
        left:50%;
        transform:translate(-50%,620%);
    }
    .container2 {
        position: absolute;
        width:40%;
        top:50%;
        left:51.5%;
        transform:translate(-50%,-50%);
    }
    .col-sm-2{
        width:20%;
        float: left;
    }
    .social_image {
        width:60%;
        height:auto;
    }
    .container .circle {
      width: 4vw;
      height: 4vw;
      background-color: white;
      animation: pulse 2.5s infinite;
      border-radius: 50%;
      position: absolute;

      left:48%;
      bottom:-22vw;

    }
    .container {
      //background-color: red;
      position: absolute;
      width:100%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;

    }
    60% {
      transform: scale(0.8);
      opacity: 0.8;

    }
    100% {
      transform: scale(1.8);
      opacity: 0;

    }
  }
