:root {
  touch-action: pan-x pan-y;
  height: 100%;
}


/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #181818;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;

}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard 
syntax */
        
     -moz-user-select: -moz-none;
     
          user-select: none;
}

#contenedor {
   //margin-top:40%;
   align-items: center; 
display: flex;
  justify-content: center; /* Alineación horizontal */
  align-items: center; 
  z-index: 99999;
opacity: 0;
  
  transition: opacity 0.6s ease-in-out;
}

#contenedor.fade-in {
    opacity: 1;
}
    

/* Encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181818;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}

.blurred {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(20, 20, 20, 0.7);
}

/* Estilos para el menú */
#main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 50px; /* Altura inicial de la barra de navegación */
    overflow: hidden;
    transition: height 0.3s ease;
}

#main-nav.open {
    height: 210px; /* Altura cuando se expande la barra de navegación */
   
}

.nav-content {
	margin-top:25px;
}




.logo {
    position: fixed;
    left: 12px;
    top: 12px;
    flex: 1;
}

.logo img {
    width:150px;
    height:auto;

}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-left:20px;
    list-style-type: none;
    padding: 20px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#main-nav.open .nav-links {
    opacity: 1;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-links a i {
    margin-right: 8px;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-toggle {
    position: fixed;
    top: 0px;
    right: 10px;
    display: block;
    cursor: pointer;
    padding: 10px;
}

.nav-toggle div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-toggle.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-toggle.open .line2 {
    opacity: 0;
}

.nav-toggle.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Secciones principales */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 80px 20px;
    position: relative;
    overflow: hidden;
}

section.services {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 80px 20px;
    position: relative;
    overflow: hidden;
}



.hero::before,
.services::before,
.contact::before,
.pricing-widget::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content,
.services-content,
.contact-content,
.pricing-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.animation-container,
.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    //padding: 20px;
    justify-content:center;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}

.hero-text {
    //width: 80%;
    text-align: center;
    justify-content:center;
    display: flex;

     margin-bottom: 16%;
     margin-top:-10%;
}

.hero-text h1 {
    font-size: 18px;
    align-items: center;
    font-weight: semi-bold;
    //margin: 0 auto 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #555;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #777;
}

/* Sección de Servicios */
.services-content {
    flex-direction: column;
    align-items: center;
    margin-bottom:26%;
    margin-top:12%;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 100%;
}

.service-item {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}



.service-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 14px;
}

/* Sección de Contacto */
.pricing-widget::before {
  background: #1a1a1a;
  background: linear-gradient(to bottom, #1a1a1a, #2b2b2b);
  background: -webkit-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
  background: -moz-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
  background: -o-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
}
/* Sección de Bienvenida */
.hero::before {
  background: #1a1a1a;
  background: linear-gradient(to bottom, #1a1a1a, #2b2b2b);
  background: -webkit-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
  background: -moz-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
  background: -o-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
}

/* Sección de Servicios */
.services::before {
  background: #3b3b3b;
  background: linear-gradient(to bottom, #3b3b3b, #4c4c4c);
  background: -webkit-linear-gradient(to bottom, #3b3b3b, #4c4c4c);
  background: -moz-linear-gradient(to bottom, #3b3b3b, #4c4c4c);
  background: -o-linear-gradient(to bottom, #3b3b3b, #4c4c4c);
}


/* Sección de Contacto */
.contact::before {
    background: #1a1a1a;
    background: linear-gradient(to bottom, #1a1a1a, #2b2b2b);
    background: -webkit-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
    background: -moz-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
    background: -o-linear-gradient(to bottom, #1a1a1a, #2b2b2b);
}

.contact-content {
    max-width: 600px;
    width: 100%;
    padding: 0 30px;
    flex-direction:column;
}

.contact-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-content label, .contact-content input, .contact-content textarea, .contact-content button {
    width: 98%;
    max-width: 500px;
    margin-bottom: 30px;
}

.contact-content input, .contact-content textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.contact-content button {
    margin-top:10px;
    user-select: none;
  color:white;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #555;
  //border-color: #007bff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.contact-content button:active {
color:#777;
  background-color: #444;
  //border-color: #3d3d3du;
  transform: translateY(1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}

    .contact-content .hint {
      text-align: center;
      margin-bottom: 30px;
      color: #666;
    }

/* Pie de página */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #ccc;
    font-size: 12px;
}

.services h2 {

	margin-bottom:30px;
}

.contact h2 {

	margin-bottom:30px;
}




/* >>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>> */



  .pricing-widget .btn {
  display: block;
  margin: 0.75rem auto 0;
}

.pricing-widget .container {
  max-width: 800px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 0.5s ease;
  margin-bottom: -40px;
}

.pricing-widget h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  margin-top: 100px;
}

.pricing-widget .hint {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.pricing-widget .form-group {
  margin-bottom: 15px;
}

.pricing-widget .form-control {
  display: block;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pricing-widget .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.pricing-widget .form-control-dark {
  margin-top: 1px;
  border-radius: 12px;
  border-width: 2.5px;
  background-color: #1a1a1a;
  border-color: #2b2b2b;
  color: #6e6e6e;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23f0f0f0' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 8.5l3 3a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5l-3 3z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  padding-right: 2rem;
}

.pricing-widget .form-control-dark:focus {
  margin-top: 1px;
  border-width: 2.5px;
  border-radius: 12px;
  background-color: #2b2b2b;
  border-color: #3b3b3b;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(75, 75, 75, .5);
  outline: none;
}

.pricing-widget .help-link {
  display: block;
  text-align: center;
  margin-bottom: 170px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 25px;
}

.pricing-widget .help-link:hover {
  color: #0056b3;
}


.pricing-widget .estimate-button {
  user-select: none;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}

/*
.pricing-widget .estimate-button:hover {
  background-color: #0056b3;
  border-color: #004d99;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
*/

.pricing-widget .estimate-button:active {
  background-color: #004d99;
  border-color: #003b75;
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Reduce la sombra en active */
}


.pricing-widget .cost-section-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.pricing-widget .cost-section {
  margin-bottom: 30px;
}

.pricing-widget .cost-type {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.pricing-widget .cost-description {
  color: #666;
  margin-bottom: 20px;
}

.pricing-widget .cost-amount {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.pricing-widget .get-service-button {
  background-color: #28a745;
  color: #fff;
  border-color: #28a745;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.pricing-widget .get-service-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.price-info {
  height: 200px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.price-info.visible {
  opacity: 1;
  transform: translateY(0);
}

section.pricing-widget.expanded {
  height: auto;
}

section.pricing-widget {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  //transition: height 0.5s ease;
}

.price-display {
  display: block;
  justify-content: center;
  text-align: center;
  margin-top: -40px;
  margin-bottom: -40px;
}

.price-display p {
  font-size: 60px;
  font-weight: semi-bold;
}


.send-notification {
    //position: absolute;
    margin-top: -20px;
    font-weight: semi-bold;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.send-notification.show {
    opacity: 1;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>> */


#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#loading-overlay.fade-out {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.price-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  overflow: hidden;
}

.price-btn {
  user-select: none;
  color:white;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #555;
  //border-color: #007bff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.price-btn:active {
  color:#777;
  background-color: #444;
  //border-color: #3d3d3du;
  transform: translateY(1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}

.loading-text-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #666;
  //background-color: red;
  z-index: 9999;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;

 
}

.loading-text {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

@keyframes pulse {
  0% {
    opacity: 0.0;
  }
  25% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

.pulse-animation {
  animation: pulse 8s infinite;
}

