:root {
  touch-action: pan-x pan-y;
  height: 100%;
}


/* Estilos generales */
body {

  --circle-w: 20px;
  --circle-bg: #fff;
  --arrow-bg: #55544F;
  --body-bg: #9DDCDC;
  --bezier: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  --bezier-bounce: cubic-bezier(0.87, -0.41, 0.19, 1.44);
  --anim-timing: 2s;

    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #191919;
    color: #fff;


}

a {
    color: #fff;
    text-decoration: none;

}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */      
  -moz-user-select: -moz-none;
}


    

/* Encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #181818;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20);
}

.blurred {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(20, 20, 20, 0.7);
}



/* >>>>> Estilos para el menú <<<<< */



#main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 50px; /* Altura inicial de la barra de navegación */
    overflow: hidden;
    transition: height 0.3s ease;
}

#main-nav.open {
    height: 210px; /* Altura cuando se expande la barra de navegación */
   
}

.logo {
    position: fixed;
    left: 12px;
    top: 12px;
    flex: 1;
    cursor: pointer;
}

.logo img {
    width:150px;
    height:auto;

}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    margin-left:20px;
    list-style-type: none;
    padding: 20px 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#main-nav.open .nav-links {
    opacity: 1;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-links a i {
    margin-right: 8px;
}

.nav-links a:hover {
    color: #ccc;
}

.nav-toggle {
    position: fixed;
    top: 0px;
    right: 10px;
    display: block;
    cursor: pointer;
    padding: 10px;
}

.nav-toggle div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-toggle.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav-toggle.open .line2 {
    opacity: 0;
}

.nav-toggle.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/* >>>>> Secciones principales <<<<< */



section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 80px 20px;
    position: relative;
    overflow: hidden;
     border-bottom: 2px solid #222;


}

.hero::before,
.faq::before,
.contact::before,
.pricing-widget::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content,
.faq-content,
.contact-content,
.pricing-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;

}


/* >>>>> Color de fondo Secciones <<<<< */


/* Sección de Inicio */
.hero::before {
}
/* Sección de Presupuesto */
.pricing-widget::before {
background-color: #151515;
}
/* Sección de faq */
.faq::before {
    background-color: #202020;
}
/* Sección de Contacto */
.contact::before {
}



/* >>>>> Sección de Inicio <<<<< */



#contenedor {
    width: 90%; /* O cualquier otro porcentaje según lo que necesites */
    //height: 10%; /* Ajusta esto según tus necesidades */
   max-width: 600px;
    //display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
     z-index: 99999;
     opacity: 0;
      transition: opacity 0.6s ease-in-out;
}

#animation-container {
    
    width: 100%;
    height: 100%;
    display: flex; /* Asegura que el contenedor de la animación se expanda para llenar el #contenedor */
}

#contenedor.fade-in {
    opacity: 1;
}

.animation-container,
.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    //padding: 20px;
    justify-content:center;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 10%;
    //max-height: 10%;
}
.hero-content{

    //background-color: red;
}

.hero-text {
    max-width: 600px;
    text-align: center;
    justify-content:center;
    //display: flex;
//background-color: red;
     //margin-bottom: 16%;
     margin-top: 20px;
}

.hero-text h1 {
    //margin: 20px;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.arrow-container {
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px; /* Ajusta la altura según tus necesidades */
}

.arrow-text {
  width: 205px;
  height: 50px;
  font-size: 12px;
  text-transform: uppercase; /* Texto en mayúsculas para un aspecto más formal */
  font-weight: 500; /* Texto en negrita para mayor presencia */
  color: #fff; /* Cambia el color del texto si es necesario */
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes preloadAnimation {
    from {background-position: 100% 0}
    to {background-position: -100% 0}
}

.shimmer{

     background: repeating-linear-gradient(to right, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.6) 25%, #fff 50%, rgba(255,255,255,0.6) 75%, rgba(255,255,255,0.45) 100%);
     background-clip: text;
     background-size: 200% auto;
     animation: preloadAnimation 30s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

   }

.btn {

    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-color: transparent;
    transition: background-color 0.3s ease;
    margin: 0.75rem auto 0;
    display: block;
}



/* >>>>> Sección de Presupuesto <<<<< */



.pricing-widget{


}
.pricing-container {
    //background-color: red;
   
    //display: flex;

    /*
  max-width: 400px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
*/


}

.form-group-container{
    //margin-left: -100px;
    //margin-right: -10px;
    width: 100%;
    max-width: 530px;
}

.pricing-container h3 {
    display: flex;
    //background-color: green;
  text-align: center;
  //margin-bottom: -10px;
  font-weight: bold;
  font-size: 25px;
   margin-top: 30px;
}

.pricing-container .hint {
    //background-color: grey;
  text-align: center;
  margin-bottom:30px;
  color: #666;
  display: flex;

}

.pricing-container .form-group {
  width: 100%;
  margin-bottom: 15px;

}

.pricing-container .form-control {
 
  display: flex;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  //color: #495057;
  color: #fff;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pricing-container .form-control:focus {
  //color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.pricing-container .form-control-dark {
  width: 100%;
  margin-top: 1px;
  border-radius: 12px;
  border-width: 2px;
  background-color: #1a1a1a;
  border-color: #2b2b2b;
  color: #999;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23f0f0f0' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 8.5l3 3a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5l-3 3z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  //padding-right: 2rem;
}

.pricing-container .form-control-dark:focus {
  margin-top: 1px;
  border-width: 2.5px;
  border-radius: 12px;
  background-color: #2b2b2b;
  border-color: #3b3b3b;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(75, 75, 75, .5);
  outline: none;
}

.pricing-container .help-link {
  display: block;
  text-align: center;

  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 25px;
}

.pricing-container .help-link:hover {
  color: #0056b3;
}


.pricing-container .estimate-button {
  user-select: none;
  width: 60%;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #007bff;
  
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 6px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1); /* Agrega sombra */
}


.pricing-container .estimate-button:hover {


}


.pricing-container .estimate-button:active {
  color:#777;
  background-color: #004d99;
 
  transform: translateY(1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}

.price-info {
  height: 200px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.price-info.visible {
  opacity: 1;
  transform: translateY(0);
}

.price-display {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.price-display p {
    font-size: 60px;
    font-weight: semi-bold;
    margin: 0; /* Asegúrate de eliminar cualquier margen que pueda estar empujando el texto fuera del contenedor */
}



/* >>>>> Sección de Preguntas Frecuntes <<<<< */



.faq {
    height: auto;
  
}

.faq.expanded {
  //height: auto;
}
/*
.faq-content {
  //height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  text-justify: center; 
  transition: height 0.5s ease;
}*/

.faq-items {
  margin-top: 20px;
}

.faq-item {
  background-color: #2d2d2d;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  border: 2px solid #424242;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
}

.faq-answer {
  padding: 20px;
  margin-top: -44px;
  color: #888;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.faq-item.active .faq-answer {
  max-height: 500px;
  transition: max-height 0.4s ease-in;
}

.faq-content h2 {
   margin-top:40px;
   margin-bottom:35px;
    
}

.faq-buttons {
  text-align: center;
  //margin-top: 20px;
}

.faq-content button {

  margin-top:10px;
  user-select: none;
  color:white;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #555;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); 

}

.faq-content button:hover {

}

.faq-content button:active {
  color:#777;
  background-color: #444;

  transform: translateY(1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}

.hidden-faq-item {
  display: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.hidden-faq-item.show {
  display: block;
  opacity: 1;
  height: auto;
}

.hidden {
  display: none;
}

#faq-expand-container {
  overflow: hidden;
}

.collapsible {
    background-color: transparent;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
  max-height: 0px;
  border: none;
            margin: 0;
            padding: 0;
}
.collapsed {
 //height: auto;
  max-height: 7000px;
          border: none;
            margin: 0;
            padding: 0;
}


/* >>>>> Sección de Contacto <<<<< */


.contact-content {
    //background-color: red;

}


.contact-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
//color: #8F8F8F;
    max-width: 500px;
}

.contact-content label, .contact-content input, .contact-content textarea, .contact-content button {
    width: 100%;
    //max-width: 550px;
  //color: #8F8F8F;
    margin-bottom: 15px;
    //padding: 12px 16px;
}
.contact{

}
.contact-content input, .contact-content textarea {
    padding: 15px;
    //border: none;
    border-radius: 10px;
    background-color: #333;
    //color: #8F8F8F;
    font-size: 16px;
    border: 2px solid #555;
  color: white;
}


.contact-content button {
  margin-top:10px;
  user-select: none;
  color:white;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #555;
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  //padding: 12px 24px;
  border-radius: 8px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
}
.contact-content button:hover {

}
.contact-content button:active {
  color:#777;
  background-color: #444;

  transform: translateY(1px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}

.contact-content .hint {
  text-align: center;
  color: #777;
}

.contact-description {
    font-size: 14.5px;
    margin-bottom:40px;
    margin-top: -5px;

}

/* Pie de página */
footer {
    background-color: #101010;
    padding: 20px;
    text-align: center;
    color: #ccc;
    font-size: 12px;
}


.contact h2 {

    //margin-bottom:-5px;
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#loading-overlay.fade-out {
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading-text-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #666;
  //background-color: red;
  z-index: 9999;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;

 
}

.loading-text {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

@keyframes pulse {
  0% {
    opacity: 0.0;
  }
  25% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  75% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

.pulse-animation {
  animation: pulse 8s infinite;
}


/* Circle Styles */

.ico {
  margin: 0 auto;
  text-align: center;
  width: var(--circle-w);
  height: var(--circle-w);
  position: relative;
  top: 5px;
  transform: translateY(-50%);
}

.circle {
  background: var(--circle-bg);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: 0%;
}


.circle-main {
  height: calc(var(--circle-w) *1.2);
  width: calc(var(--circle-w) * 1.2);
  z-index: 1;

}



/* Arrow Styles */
.st-arrow {
  fill: var(--arrow-bg);
  animation: scrolly var(--anim-timing) var(--bezier) forwards infinite;
  perspective: 9000px;
  transform: translateZ(0);
  transform-origin: bottom;
}

/* SVG Styles */
.svg {
  z-index: 9;
  position: relative;
}


@keyframes scrolly {
  0% {
    transform: translate3d(0,-150%,0) rotateX(90deg) scale(0.5) skewX(3deg);
  }
  30% {
    transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
  }
  70% {
    transform: translate3d(0,0,0) rotateX(0deg) scale(1) skewX(0deg);
  }
  95% {
    transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
  100% {
    transform: translate3d(0,50%,0) rotateX(-90deg) scale(0.5) skewX(-3deg);
  }
}

@media (max-width: 550px) {

    .hero-text h1 {
        font-size: 14px;
        margin-top: 20px;

    }

    .arrow-container {

        margin-top: 10px;
    }

    .arrow-text {

        font-size: 10px;

    }

    .hero-content,
    .faq-content,
    .contact-content,
    .pricing-container {

         //margin-top:-100px;

    }           
}


@supports (-webkit-touch-callout:none) {

        .hero-content,
    .faq-content,
    .contact-content,
    .pricing-container {

         margin-top:-100px;

    }         
}
