/* Estilos anteriores */

.folder-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.folder-btn .fas.fa-folder {
  margin-right: 8px;
}

.back-btn {
  display: block;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.back-btn:hover {
  background-color: #45a049;
}
