
html, body {
  background-color: #f5f5f5;
  margin: 0.01rem;
  padding: 0.01rem;
}

h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #333;
}


.section {
  
  height:100%;
  align-items: center;
  margin: 0;
padding: 0;

}

.content {
  background-color: #f5f5f5;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0
}


.file-list {
  list-style-type: none;
  padding: 0;
  margin: 2rem;
  
  
}

.back-btn {
 margin:2rem;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
border: none;
  
}

.file-name {
  //flex-grow: 1;
  margin-right: 0.5rem;
  border: none;
 
}

.file-actions {
  display: flex;
  align-items: center;
}

.view-btn,
.download-btn {
  margin-left: 0.5rem;
}

.file-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 95%;
  max-height: 95%;
  overflow-y: auto;
}

.file-container h2 {
  margin-top: 0;
  
}

.file-container pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media only screen and (max-width: 850px) {
  .file-name {
    font-size: 0.8rem; /* Reducir el tamaño de fuente para pantallas de iPhone */
  }

  h1 {
    font-size: 0.8rem; /* Reducir el tamaño de fuente del título */
  }
}

